@import './font.css';
body {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'WheatonCapitals-Regular', sans-serif;
}

.stats {
    display: inline-block;
}

#mandel {
    cursor: crosshair;
}

.flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1250px;
}

.parent {
    width: 800px;
    height: 600px;
    position: relative;
    border: 1px solid gray;
    margin: 10px;
}

.absolutezero {
    position: absolute;
    top: 0px;
    left: 0px;
}

.orbitbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    margin: 10px;
}

.instructions {
    flex-grow: 1;
    padding-bottom: 50px;
}

.title {
    font-size: 18pt;
    flex-grow: 0;
}

.orbitlabel {
    height: 25px;
    flex-grow: 0;
}

.overlay {
    position: absolute;
    width: 800px;
    height: 600px;
    background: black;
    top: 0px;
    left: 0px;
    z-index: 1;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 800px;
    margin-top: 600px;
}

.intro {
    color: white;
    background: black;
    font-family: Goudy-Old-Style-Normal;
    font-size: 28px;
    line-height: 200%;
    margin-left: 20px;
    margin-right: 20px;
}

.red {
    color: red;
    font-style: italic;
}
